.vowel-board,
.consonant-board {
  display: flex;
  flex-direction: row;
}

.vowel-div,
.consonant-div {
  border: 2px solid black;
  height: 30px;
  width: 30px;
}

.vowel-p,
.consonant-p {
  padding: 6px 3px;
  margin: auto;
}

.hidden {
  display: none;
}