/*#050c59*/
@font-face { 
  font-family: Gameplay;
  src: url(fonts/Gameplay.ttf) format("truetype");
}

@keyframes bgscroll {
  from {background-position:0px 0px;}
  to {background-position:0px 2000px;} 
}

@keyframes pulse {
  from {
    color: #030d63;
    font-size: 24px;
  }
  to { 
    color: #ffc90b;
    font-size: 28px;
  }
}

body {
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-name: bgscroll;
  animation-timing-function: linear;
  background-image:url(images/8bitbackground.png);
  background-position: bottom right;
  background-repeat: repeat-y;
  font-family: Gameplay;
}

h1 {
  color: #ffc90b;
  font-size: 60px;
  margin: 20px auto;
  text-shadow: 4px 4px #7d6923;
}

h3 {
  text-shadow: 5px 2px black;
}

/* splash screen */

.splash-screen {
  height: 300px;
  margin: 300px auto;
  text-align: center;
  width: 1000px;
}

.splash-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.player-name-label,
.player-name-input {
  padding: 12px;
  width: 100%;

}

.player-name-label {
  color: #e0e0e0;
  font-size: 26px;
}

.player-name-input {
  color: #000;
}

#player1,
#player2,
#player3 {
  font-size: 16px;
}

.submit-button {
  height: 40px;
  margin: 24px 40px 24px 64px;
}

/*Main Game*/
.main-game {
  display: grid;
  grid-template-columns: .6fr 2.6fr 1.2fr;
  grid-template-rows: .6fr 3.2fr 2fr;
  grid-template-areas: 
    "header header header"
    "players gameboard gameboard"
    "gameplay gameplay spin"
}

.game-title {
  background: linear-gradient(0.25turn, #030d63, #faf7b4, #030d63);
  grid-area: header;
}

.player-info{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.quit-game {
  background-color: #ffcf08;
  border: 1px solid #887426;
  grid-area: players;
  height: 30px;
  width: 200px;
}

.player-info-toggle {
  background-color: #FFF;
  border: 2px solid black;
  grid-area: players;
  margin: 24px;
}

.player-name {
  height: 30px;
  margin-left: 10px;
  min-width: 200px;
}

.player-turn-indication {
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

.round-score {
  background-color: grey;
  color: white;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.total-score {
  font-size: 12px;
  margin-right: 10px;
  text-align: right;
}

.current-round-h3,
.puzzle-category {
  background: linear-gradient(0.25turn, #030d63, #faf7b4, #030d63);
  color: #ffc90b;
  font-size: 32px;
  margin: 24px auto;
  padding: 10px 1px;
  text-align: center;
  width: 366px;
}

.puzzle-board-section {
  grid-area: gameboard;
  margin: 0 auto;
}

.puzzle-row{
  display: flex;
  min-width: 1025px;
}

.letter-card-div {
  align-items: center;
  background-color: #27A067;
  border: 4px solid #000;
  display: flex;
  font-size: 46px;
  height: 86px;
  justify-content: center;
  width: 66px;
}

.puzzle-card {
  background-color: white;
}

.turn-option-div {
  grid-area: gameplay;
  margin: 146px auto;
}

.turn-option-button {
  font-size: 24px;
  height: 56px;
  width: 240px;
}

.spin-div {
  height: 400px;
  position: relative;
}

.spin-h3 {
  color: #FFF;
  grid-area: spin;
  left: 176px;
  margin-right: 20px;
  position: absolute;
  text-align: center;
  top: 166px;
  z-index: 1;
}

#wheel {
  height: 400px;
  z-index: 10;
}

.vowel-board,
.consonant-board,
.solve-puzzle-section {
  display: flex;
  grid-area: gameplay;
  height: 62px;
  margin:146px auto;
}

.vowel-div,
.consonant-div {
  align-content: center;
  background-color: #FFF;
  border: 2px solid black;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 46px;
}

#puzzle-guess{
  font-size: 24px;
  height: 58px;
  width: 300px;
}

.submit-guess-button {
  height: 60px;
}

.vowel-p,
.consonant-p {
  font-size: 36px;
  margin: auto;
  padding: 6px 3px;
}

.hidden {
  display: none;
}

