/*#050c59*/
@font-face { 
  font-family: Gameplay;
  src: url(fonts/Gameplay.ttf) format("truetype");
}

@keyframes bgscroll {
  from {background-position: 0px 0px;}
  to {background-position: 0 2000px;} 
}

body {
  font-family: Gameplay;
  background-image: url(8bitbackground.png);
  background-position: 0px 0px;
  background-repeat: repeat-y;
  width: 100%;
  height: 1px;
  animation-name: bgscroll;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/*
body {
  font-family: Gameplay;
}*/

h1 {
  /*font-family: Gameplay;*/
  font-size: 60px;
  margin: 20px auto;
  color: #e0e0e0;
}



/* splash screen */

.splash-screen {
  height: 500px;
  width: 1000px;
  text-align: center;
  margin: 300px auto;
}

.splash-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  /*align-items: start;*/
}

.player-name-label,
.player-name-input {
  width: 100%;
  /*font-family: Gameplay;*/
  padding: 12px;

}

.player-name-label {
  font-size: 26px;
  color: #e0e0e0;
}

.player-name-input {
  color: #000;
}

#player1,
#player2,
#player3 {
  font-size: 16px;
}

.submit-button {
  margin: 24px 40px 24px 64px;
  height: 40px;
  /*font-family: Gameplay;*/
}

.main-game {
  display: grid;
  grid-template-columns: .6fr 1.3fr .7fr;
  grid-template-rows: .6fr 3.2fr 1fr;
  grid-template-areas: 
    "header header header"
    "players gameboard gameboard"
    "gameplay gameplay spin"
}

.game-title {
  grid-area: header;
}

.player-info-toggle {
  grid-area: players;
  border: 2px solid black;
  margin: 24px;
  background-color: #FFF;
}

.player-name {
  margin-left: 10px;
}

.round-score {
  background-color: grey;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.total-score {
  text-align: right;
  margin-right: 10px;
  font-size: 12px;
}


.current-round-h3 {
  text-align: center;
}

.puzzle-board-section {
  grid-area: gameboard;
  margin: 0 auto;
}

.puzzle-category {
  text-align: center;
  font-size: 24px;
}



.letter-card-div {
  display: inline-block;
  border: 4px solid black;
  height: 86px;
  width: 66px;
  background-color: #FFF;
}

.turn-option-div {
  grid-area: gameplay;
  margin: 24px auto;
}

.turn-option-button {
  height: 56px;
  width: 240px;
  font-size: 24px;
}


.spin-h3 {
  grid-area: spin;
  text-align: center;
}


.vowel-board,
.consonant-board {
  display: flex;
  flex-direction: row;
}

.vowel-div,
.consonant-div {
  border: 2px solid black;
  height: 30px;
  width: 30px;
}

.vowel-p,
.consonant-p {
  padding: 6px 3px;
  margin: auto;
}

.hidden {
  display: none;
}
